* {
	font-size: 17px;

}
 body {
 	margin: 0;
 	color: #595958;
 	width: 100vw;
 	height: 100vh;
 }


/* -------------------- NAVIGATION SECTION -------------------- */
.navigation, .navigation2 {
	background-color: #4283f4;
	height: 67px;
	color: #f4cc46;
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navigation2 {
	height: 50px;
}

.logo {
	width: 250px;
	height: 100%;
	letter-spacing: 2px;
	padding-left: 15px;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.logo a {
	text-decoration: none;
	color: #f4cc46;
	height: 100%;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.logo, #desktopMenu, #responsiveMenu {
	font-family: 'Gugi', cursive;
}

#desktopMenu {
	height: 67px;
	display: flex;
	align-items: stretch;
	justify-content: flex-end;
	float: right;

}

#responsiveMenu {
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-end;
	float: right;
}

.menu__item {
	display: inline-block;
	padding-right: 15px;
	margin: 0;
	text-decoration: none;
	height: 100%;
	color: #f4cc46;
	cursor: pointer;
}

.menu__item a:hover {
	background-color: #f7cb51;
	 color: #595958;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.menu__item a {
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
	color: #f7cb51;
	height: 100%;
	display: flex;
	align-items: center;
}


.toggleDiv {
	width: 20px;
	font-size: 30px;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	float: right;
	margin: 0;

	display: none;
}

label {
	cursor: pointer;
	height: 100%;
}

#navTopResponsive, #responsiveMenu {
	display: none;
}

#toggle, #x {
	border: none;
	background-color: #4283f4;
	color: #f7cb51;
	font-size: 30px;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	outline: none;
	cursor: pointer;
	padding: 0 30px;
	height: 100%;
	width: 50px;
	z-index: 100;
}

#toggle:focus, #x:focus {
	outline: none;
}

#toggle:hover, #x:hover {
	color: #595958;
	background-color: #f7cb51;
}



/* ========== NAV BAR RESPONSIVE DESIGN ========== */

@media only screen and (max-width: 900px) {

	#navTopResponsive, .navigation, #desktopMenu, #responsiveMenu, .menu__item a, .logo a{
		height: 50px;
	}

	.logo a {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.navigation2 {
		display: none;
	}

	.menu__item a {
		padding: 0 15px;
	}


@media only screen and (max-width: 800px) {

	#desktopMenu {
		display: none;
	}

	.navigation {
		display: none;
	}

	.navigation2 {
		display: block;
	}

	#navTopResponsive {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		height: 100%;
	}

	.logo {
		height: 100%;
		width: 250px;
		float: left;
	}

	.logo a {
		width: 100%;
	}

	.toggleDiv {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: flex-end;
		cursor: pointer;
		height: 100%;
	}

	#responsiveMenu {
		display: none;

		text-align: center;
		width: 100%;
		background-color: #4283f4;
		margin: 0;
		justify-content: center;

	}

	.menu__item {

		padding: 0 20px;
		display: flex;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		margin: 0;
		background-color: #4283f4;
		text-align: center;

	}


	.menu__item:hover {
		background-color: #f7cb51;
		cursor: pointer;
		color: #595958;
	}

	.menu__item a {
		text-align: center;
		justify-content: center;
		width: 100%;
		padding: 0;
		font-size: 15px;
	}
}


@media only screen and (max-width: 600px) {

	.navigation2 {
		height: 30px;

	}

	#navTopResponsive {
		height: 100%;
		display: flex;
		justify-content: space-between;

	}

	.logo {
		height: 100%;
	}

	.logo {
		padding-left: 0px;
		width: 180px;
	}

	.toggleDiv {
		width: 60px;

	}

	#toggle, #x {
		display: flex;
		justify-content: center;
		width: 40px;
		font-size: 20px;
		padding: 0 5px;
	}

	#responsiveMenu {
		width: 100%;
		display: none;
		justify-content: space-between;
		height: 100%;
	}

	.logo a, .menu__item a {
		font-size: 10px;
		height: 100%;
	}

	.menu__item {
		padding: 0 5px;
	}

}

/* ------------------- HEADER SECTION -------------------- */
header {
	width: 100%;
	padding: 200px 30px 250px 30px;
	background-color:#383737;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0;
}

.introduction__text {
	padding: 0px;
	border-radius: 20px;

	font-family: 'Jura', sans-serif;
	color: white;
	display: inline-block;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	        -ms-align-items: center;
	        align-items: center;

		position: relative;
	-webkit-animation-name: photoAppear;
	        animation-name: photoAppear;
    -webkit-animation-duration: 7s;
            animation-duration: 7s;
}

.introduction__text p {
	margin: 20px;
}

.introduction__text p, .introduction__text h1, .introduction__text strong {
	font-size: 35px;
}

.introduction__text h1 {
	margin: 20px;
	padding-bottom: 40px;
	text-shadow: 1px 1px 2px black, 0 0 25px #4587f9, 0 0 5px darkblue;
}

.introduction__text strong {
	color: #f4cc46;
}

.introduction__text-buttons a {
	text-decoration: none;
	border: dashed 2px #f7cb51;
	border-radius: 15px;
	margin: 20px;
	padding: 15px;
	color: white;
	font-size: 25px;
	-webkit-box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
	        box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
}

.introduction__text-buttons i {
	font-size: 25px;
}

.introduction__text-buttons a:hover {
	color: #f4cc46;
	border: solid 3px #f7cb51;
	-webkit-box-shadow: 5px 5px 8px rgba(247, 239, 212, 0.3);
	        box-shadow: 5px 5px 8px rgba(247, 239, 212, 0.3);
	text-shadow: 1px 1px 2px black, 0 0 25px #f7efd4, 0 0 5px black;
}


.introduction__text-social {
	margin-top: 20px;
	padding-top: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.introduction__text-social i {

	padding: 15px 20px;
	color: white;
	font-size: 35px;
}


.introduction__text-social i:hover {
	color: #4283f4;
	font-size: 40px;
}


.introduction__photo {
	display: inline-block;
	padding-left: 80px;
	padding-top: 10px;
}

.introduction__photo img {
	width: 250px;
	border-radius: 45%;
	border: solid black 2px;
	-webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
	        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);

  	position: relative;
	-webkit-animation-name: photoAppear;
	        animation-name: photoAppear;
    -webkit-animation-duration: 7s;
            animation-duration: 7s;
}

/* ===== HEADER RESPONSIVE DESIGN ===== */

@media only screen and (max-width: 1200px) {

	header {
		width: 100%;
		padding: 130px 0px 170px 0px;
	}

	.introduction__text p, .introduction__text h1, .introduction__text strong {
		font-size: 30px;
	}

	.introduction__text-buttons{
		margin: 15px 8px;
	}
	.introduction__text-buttons a {
		border-radius: 15px;
		margin: 15px 8px;
		padding: 10px;
		font-size: 20px;
	}

	.introduction__text h1 {
		margin: 10px;
		padding-bottom: 30px;
	}

	.introduction__text-buttons i {
		font-size: 25px;
	}

	.introduction__text-social i {
		padding: 15px 20px;
		font-size: 25px;
	}

	.introduction__text-social i:hover {
		font-size: 30px;
	}


	.introduction__photo {
		padding-left: 10px;
	}


	.introduction__photo img {
		width: 200px;
	}
}


@media only screen and (max-width: 800px) {

	header {
		padding: 100px 0px 150px 0px;
	}

	.introduction__text p, .introduction__text strong {
		font-size: 20px;
		margin-bottom: 15px;

	}

	#frontEndWebH1 {
		font-size: 20px;
		padding-bottom: 0;
	}

	.introduction__text-buttons{
		padding: 10px;
		margin: 0;
	}

	.introduction__text-buttons a {
		border-radius: 15px;
		margin: 10px;
		padding: 10px;
		font-size: 15px;
	}

	.introduction__text h1 {
		margin: 10px;
		padding-bottom: 20px;
	}

	.introduction__text-buttons i {
		font-size: 18px;
		margin: 15px 5px;
	}


	.introduction__text-social {
		margin: 0;
		padding: 0;
		font-size: 25px;
	}

	.introduction__text-social i {
		padding: 10px 15px;
		font-size: 25px;
	}

	.introduction__text-social i:hover {
		font-size: 30px;
	}


	.introduction__photo {
		padding-left: 0px;
	}


	.introduction__photo img {
		width: 150px;
	}

}


@media only screen and (max-width: 600px) {

	header {
		padding: 100px 0px 130px 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.introduction__text {
		display: flex;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		padding-bottom: 20px;
	}

	.introduction__text-buttons a {
		font-size: 15px;
		margin: 12px 3px;
	}

	.introduction__text-social i {
		margin-top: 10px;
		padding: 5px 10px;
		font-size: 20px;
	}

	.introduction__text-social i:hover {
		font-size: 25px;
	}

	.introduction__photo {
		display: flex;
		justify-content: center;
		height: 100%;
	}

	.introduction__photo img {
		width: 100px;
		height: 100%;
	}
}

/* ------------------- ABOUT ME SECTION -------------------- */

main {
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 1.2px;
}

.aboutMe {
	padding: 120px 0px 140px 0px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #383737;
}

.aboutMe__content {
	width: 100%;
	max-width: 1500px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	padding: 20px 0px;
}

.aboutMe h2 {
	text-align: center;
	font-size: 25px;
	margin: 0;
	border: dashed 5px #f4cc46;
	padding: 10px 15px;
	max-width: 300px;
}


.aboutMe__content-photo {
	max-width: 50%;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin: 40px 0;
}
.aboutMe__content-text {
	max-width: 70%;
	padding: 0px 30px 0px 50px;
	text-align: justify;
}

.aboutMe__content-photo img {
	max-width: 100%;
	max-height: 350px;
	border-radius: 20%;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.aboutMe__content-text p {
	font-size: 19px;
	margin: 0;
	hyphens: auto;
	text-indent: 20px;
	line-height: 1.7;
}



@media only screen and (max-width: 1200px) {


	.aboutMe h2 {
		font-size: 22px;
	}

	.aboutMe__content-photo img {
		height: 300px;
	}

	.aboutMe__content-text {
		padding-right: 0px;
	}

	.aboutMe__content-text p {
		font-size: 17px;
	}
}


@media only screen and (max-width: 900px) {

	.aboutMe {
		padding: 100px 0px 90px 0px;
	}

	.aboutMe h2 {
		max-width: 250px;
	}

	.aboutMe__content-text {
		max-width: 60%;
		padding: 0px 15px 0px 30px;
	}

	.aboutMe__content-text p {
		line-height: 1.6;
	}

	.aboutMe__content-photo img {
		height: 200px;
	}
}

@media only screen and (max-width: 600px) {

	.aboutMe {
		padding: 90px 0px 90px 0px;
	}

	.aboutMe__content {
		flex-direction: column;
		padding-bottom: 0;
	}

	.aboutMe i {
		font-size: 15px;
	}

	.aboutMe h2 {
		font-size: 18px;
		max-width: 50%;
		border: dashed 4px #f4cc46;
	}

	.aboutMe__content-photo img {
		max-height: 140px;
		max-width: 100%
		box-shadow: 5px 5px 80px rgba(0, 0, 0, 0.5);
	}

	.aboutMe__content-text {
		max-width: 100%;
		margin: 5px 30px 5px 40px;
		padding: 0;
	}

	.aboutMe__content-text p {
		font-size: 15px;
		line-height: 1.5;
	}
}

/* ------------------- SKILLS SECTION -------------------- */

#skills {
	padding: 120px 0px 100px 0px;
	background-color: #383737;
	color: #d6d9db;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 25px;
}

#skills__header {
	border: dashed 5px #4283f4;
	color: #f4cc46;
	font-size: 25px;
	padding: 10px 15px;
	max-width: 300px;
	margin-bottom: 40px;
	animation-name: fontColorChanging;
    animation-duration: 5s;
    animation-iteration-count: 1;
    color: yellow;

}

.skills i {
	font-size: 25px;
	animation-name: fontColorChanging;
    animation-duration: 5s;
    animation-iteration-count: 1;
    color: yellow;
}

.skills__content {
	width: 90%;
	max-width: 1200px;
	padding: 50px 100px 50px 80px;
	display: flex;
	flex-direction: column;

}

.skills__content-eachSkill i {
	font-size: 45px;
	margin-bottom: 20px;
    color: yellow;
	text-shadow: 1px 1px 1px black, 0 0 7px white, 0 0 5px darkblue;

}

.skills__content-eachSkill {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 15px;

}

.skills__content-eachSkill p {
	font-weight: 700;
	font-size: 22px;
	margin: 0;
	height: 100%;
	text-transform: uppercase;
	color: #4283f4;
	width: 200px;
}

.skillChart {
	width: 100%;
}


.skills__content-eachSkill hr {
	z-index: -1;
	width: 0%;
    height: 4px;
    border: 0;

  box-shadow: 2px 2px 5px rgba(214, 212, 212, 0.5);
  background-color: yellow;

    margin: 20px 0;
    padding: 0;
    display: inline-block;


    animation-name: backgroundColorChanging;
    animation-duration: 5s;
    animation-iteration-count: 1;

}

@keyframes fontColorChanging {
    0%   {color: #fc8e19;}
    100% {color:  yellow;}

}

@keyframes backgroundColorChanging {
    0%   {background: #fc8e19;}
    100% {background: yellow;}
}



.skillChart {
	width: 70%;
}


.skills__content-eachSkill i:hover {
	color: #0277f4;
	font-size: 55px;
	transition: all .4s ease;
}




#skill-html, #skill-selfLearn, #skill-social {
    width: 100%;
}

#skill-css {
    width: 80%;
}

#skill-js {
	width: 80%;
}

#skill-python {
    width: 90%;
}

#skill-react {
    width: 60%;
}


@media only screen and (max-width: 900px) {

	#skills__header {
		max-width: 250px;
	}
	.skills__content-eachSkill p {
		font-weight: 700;
		font-size: 20px;
	}
}

@media only screen and (max-width: 600px) {
	.skills {
		padding: 100px 0px;
	}

	.skills i {
		font-size: 20px;
	}

	#skills__header {
		font-size: 20px;
		max-width: 200px;
		border: dashed 4px #4283f4;
	}

	.skills__content {
		padding: 0;
	}
	.skills__content-eachSkill p {
		font-weight: 700;
		font-size: 17px;
	}


	.skills__content-eachSkill hr {
		height: 2px;
	}

	.skills__content-eachSkill i {
		font-size: 30px;
		margin-bottom: 15px;
	}

	.skills__content-eachSkill i:hover {
		font-size: 40px;
	}
}

/* ------------------- PROJECTS SECTION -------------------- */

.projects {
	padding: 110px 0px;
	background-color: #f7cb51;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	color: #27282b;
}

.projects i {
	font-size: 30px;
	padding: 5px;
}

#projects__header {
	text-align: center;
	border: dashed 5px #4283f4;
	font-size: 27px;
	padding: 10px 15px;
	max-width: 300px;
	margin: 0;
	font-weight: 700;
}

.projects__content {
	padding: 25px 50px;
	max-width: 90%;
	display: flex;
	justify-content: center;
	margin: 0;
	color: #27282b;
	text-align: center;
}


.projects__content-eachProject {
	max-width: 40%;
	background-color: #eff3f9;
	margin: 40px;
	box-shadow: 12px 12px 17px rgba(0, 0, 0, 0.5);
	padding: 10px;
	padding-bottom: 25px;
}


.projects__content-eachProject:hover {

	box-shadow: 8px 8px 12px rgb(0, 0, 0, 0.7);

}

.eachProject__thumbnail {
	max-width: 100%;

}

.projects__content-eachProject img {
	max-width: 100%;
	max-height: 80%;
}

.eachProject__detail {
	background-color: #eff3f9;
	padding: 10px 0;
}

.projects__content-eachProject h3 {
	margin: 0;
	font-weight: 700;
	font-size: 22px;
	text-decoration: underline;
}

.eachProject__detail p {
	margin: 0;
	font-size: 20px;
}

.projects__content-eachProject a {
	text-decoration: none;
	color: #27282b;
}


@media only screen and (max-width: 1200px) {
	.projects__content-eachProject {
		margin: 30px;
	}
}

@media only screen and (max-width: 900px) {
	.projects__content-eachProject {
		margin: 20px;
	}
}

@media only screen and (max-width: 600px) {

	.projects i {
		font-size: 25px;
		padding: 5px;
	}

	#projects__header {
		font-size: 20px;
		max-width: 200px;
		border: dashed 4px #4283f4;
		padding: 7px 10px;
		margin-bottom: 10px;
	}

	.projects__content {
		padding: 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}

	.projects__content-eachProject {
		max-width: 80%;
		padding: 10px;
		padding-bottom: 25px;
		margin: 20px 0px;
	}

	.projects__content-eachProject h3 {
		font-size: 20px;
		margin-bottom: 10px;
	}

	.eachProject__detail p {
		font-size: 18px;
	}
}


/* ------------------- FOOTER SECTION -------------------- */

.footer__contact {
	font-family: 'Jura', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #383737;
	color: white;
	letter-spacing: 2px;
}

.footer__contact h3 {
	width: 100%;
	font-size: 35px;
	padding: 25px 0 20px 0;
	margin: 0;
	font-weight: 700;
	text-align: center;
}

.thanks {
	display: flex;
	justify-content: center;
	width: 80%;
	margin: 0;
}

.thanks hr {
	width: 30%;
	margin: 50px 0 0 0;
    height: 4px;
    border: 0;
  	box-shadow: 2px 2px 5px rgba(214, 212, 212, 0.5);
  	background-color: white;
}

.footer__contact-social {
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.footer__contact i {
	padding: 10px;
	color: #4283f4;
	font-size: 40px;
}

.footer__contact i:hover {
	color: #f7cb51;
	font-size: 45px;
	text-shadow: 1px 1px 1px black, 0 0 10px white, 0 0 5px darkblue;
}

.footer__contact p, #copyright {
	font-size: 15px;
	margin: 15px 0 30px 0;
	color: white;
}


@media only screen and (max-width: 900px) {
	.footer__contact h3 {
		font-size: 30px;
		padding: 25px 0 20px 0;
		max-width: 400px;
	}

	.thanks {
		width: 90%;
	}

	.thanks hr {
		width: 30%;
		margin: 45px 0 0 0;
		height: 3px;
		border: 0;
		box-shadow: 2px 2px 5px rgba(214, 212, 212, 0.5);
		background-color: white;
	}
}


@media only screen and (max-width: 600px) {


	.footer__contact h3 {
		font-size: 25px;
		padding: 25px 0 15px 0;
		max-width: 220px;
	}

	.footer__contact i {
		padding: 5px;
		color: #4283f4;
		font-size: 25px;
	}

	.footer__contact i:hover {
		font-size: 30px;
	}

	.footer__contact p, #copyright {
		font-size: 10px;
		margin: 5px 0 15px 0;
		color: white;
	}
}



/* ------------------- ANIMATION SECTION -------------------- */

@keyframes skillsRunTo100 {
    0%   {width: 0%;}
    100% {width: 100%;}
}

@keyframes skillsRunTo90 {
    0%   {width: 0%;}
    100% {width: 90%;}
}

@keyframes skillsRunTo80 {
    0%   {width: 0%;}
    100% {width: 80%;}
}

@keyframes skillsRunTo60 {
    0%   {width: 0%;}
    100% {width: 60%;}
}

@keyframes skillsRunTo20 {
    0%   {width: 0%;}
    100% {width: 20%;}
}


@keyframes iconMove100 {
	0%   {left: 0px; top: 0px;}
	100% {left: 100%; top: 0px;}
}


@keyframes photoAppear {
    0%   {opacity: 0}
    100% {opacity: 1}
}
